.board {
  display: flex;
  padding: 2rem;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.65) 0%,
      rgba(255, 255, 255, 0.65) 59%,
      rgba(255, 255, 255, 0.65) 100%
    ),
    url('/assets/joshua-newton-scaled.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.board__header {
  display: flex;
  background: $primary-dark-green;
  color: aliceblue;
  padding: 3rem;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid darken($color: $primary-dark-green, $amount: 40);

  &__title {
    margin: 0;
    font-size: 3rem;
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
  }

  &__logout {
    border: none;
    background: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 1.6rem;
  }
}
