.board {
  display: flex;
  padding: 2rem;

  &__column {
    width: 20rem;
    background: gray;
    margin: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  &__header {
    display: flex;
    background: #6278aa;
    color: aliceblue;
    padding: 2rem;
    justify-content: space-between;

    &__title {
      margin: 0;
      cursor: pointer;
    }

    &__logout {
      cursor: pointer;
    }
  }
}
