.float-button {
  position: absolute;
  height: 56px;
  width: 56px;
  z-index: 2;
  right: 20px;
  bottom: 20px;
  background: #d43a2f;
  color: white;
  border-radius: 100%;
  font-size: 34px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
}

.button {
  border-radius: 0.5rem;
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  height: 40px;
  width: 40px;
}
