.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}
.card.big {
  position: absolute;
  width: 55rem;
  height: 30rem;
  margin: auto;
  padding: 1.5rem;
  top: 0;
  left: 0;
  bottom: 100px;
  right: 0;
  z-index: 4;
}
.card.big input[type='text'],
textarea {
  width: 100%;
  margin: 3px 0;
  font-size: 1.3rem;
  border: none;
}
.card.big input[type='text'] {
  font-size: 2rem;
  font-weight: bold;
}
.card.big input[type='text']:focus,
.card.big textarea:focus {
  outline: dashed thin #999;
  outline-offset: 2px;
}
.card.big label {
  margin: 3px 0 7px 3px;
  color: #a7a7a7;
  display: inline-block;
  width: 6rem;
}
.actions {
  margin-top: 10px;
  text-align: right;
}
.card.big button {
  font-size: 1.4rem;
  padding: 8rem;
}
