// .card {
//   width: 85%;
//   display: flex;
//   border: 1px solid black;
//   justify-content: center;
//   align-items: center;
// }

.card {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

  &__title {
    font-weight: bold;
    border-bottom: solid 5px transparent;
  }

  &__title:before {
    display: inline-block;
    width: 1em;
    content: "\25b8";
  }

  &__title--is-open:before {
    content: "\25be";
  }
}

.checklist {
  &__task:first-child {
    margin-top: 10px;
    padding-top: 10px;
    border-top: dashed 1px #ddd;
  }

  &__task--remove:after {
    display: inline-block;
    color: #d66;
    content: "\2717";
    cursor: pointer;
  }

  &--add-task {
    border: 1px dashed #bbb;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
  }
}

.toggle-enter {
  max-height: 0;
  overflow: hidden;
}
.toggle-enter.toggle-enter-active {
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.25s ease-in;
}
.toggle-exit {
  max-height: 300px;
  overflow: hidden;
}
.toggle-exit.toggle-exit-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}
