.column {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  // height: 80%;
  width: 20%;
  padding: 0 20px;
}
.column:not(:first-child):not(:last-child) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
