* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* // 1rem = 10px; 10px/16px = 62.5% */
  font-size: 10px; }

body {
  background: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1 {
  font-weight: 200;
  color: #3b414c;
  font-size: 2rem; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.app {
  white-space: nowrap;
  height: 100%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    transform: translate(0);
    opacity: 1; } }

.board {
  display: flex;
  padding: 2rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.65) 59%, rgba(255, 255, 255, 0.65) 100%), url("/assets/joshua-newton-scaled.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 90%;
  overflow: hidden; }

.board__header {
  display: flex;
  background: #28b485;
  color: aliceblue;
  padding: 3rem;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #030d0a; }
  .board__header__title {
    margin: 0;
    font-size: 3rem;
    color: aliceblue;
    cursor: pointer;
    text-decoration: none; }
  .board__header__logout {
    border: none;
    background: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 1.6rem; }

.column {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 25%;
  padding: 0 20px; }

.column:not(:first-child):not(:last-child) {
  border-left: 1px solid white;
  border-right: 1px solid white; }

.card {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.7rem; }
  .card__title {
    font-weight: bold;
    border-bottom: solid 5px transparent; }
  .card__title:before {
    display: inline-block;
    width: 1em;
    content: '\25b8'; }
  .card__title--is-open:before {
    content: '\25be'; }

.checklist__task:first-child {
  margin-top: 10px;
  padding-top: 10px;
  border-top: dashed 1px #ddd; }

.checklist__task--remove:after {
  display: inline-block;
  color: #d66;
  content: '\2717';
  cursor: pointer; }

.checklist--add-task {
  border: 1px dashed #bbb;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px; }

.toggle-enter {
  max-height: 0;
  overflow: hidden; }

.toggle-enter.toggle-enter-active {
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.25s ease-in; }

.toggle-exit {
  max-height: 300px;
  overflow: hidden; }

.toggle-exit.toggle-exit-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out; }

.card__edit {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.25s ease-in; }

.card:hover .card__edit {
  opacity: 1; }

.card__edit a {
  text-decoration: none;
  color: #999;
  font-size: 1.7rem; }

.ReactModal__Overlay {
  z-index: 3; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6); }

.card.big {
  position: absolute;
  width: 55rem;
  height: 30rem;
  margin: auto;
  padding: 1.5rem;
  top: 0;
  left: 0;
  bottom: 100px;
  right: 0;
  z-index: 4; }

.card.big input[type='text'],
textarea {
  width: 100%;
  margin: 3px 0;
  font-size: 1.3rem;
  border: none; }

.card.big input[type='text'] {
  font-size: 2rem;
  font-weight: bold; }

.card.big input[type='text']:focus,
.card.big textarea:focus {
  outline: dashed thin #999;
  outline-offset: 2px; }

.card.big label {
  margin: 3px 0 7px 3px;
  color: #a7a7a7;
  display: inline-block;
  width: 6rem; }

.actions {
  margin-top: 10px;
  text-align: right; }

.card.big button {
  font-size: 1.4rem;
  padding: 2rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.5rem;
  margin: 0 1rem;
  min-width: 13.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none; }

.btn::after {
  content: '';
  display: inline-block;
  transition: all 0.2s;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0; }

.btn--animated {
  animation: moveFromBottom 0.5s 0.75s ease-out;
  animation-fill-mode: backwards; }

.btn--login {
  background: #28b485; }

.btn--remove {
  color: aliceblue;
  background: #e50050; }

.btn--edit {
  color: aliceblue;
  background: #2998ff; }

.float-button {
  position: absolute;
  height: 56px;
  width: 56px;
  z-index: 2;
  right: 20px;
  bottom: 20px;
  background: #d43a2f;
  color: white;
  border-radius: 100%;
  font-size: 34px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  cursor: pointer; }

.button {
  border-radius: 0.5rem;
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  height: 40px;
  width: 40px; }

.login-page {
  height: 100vh;
  border: 1px solid black;
  background: #000;
  background: linear-gradient(to bottom, transparent 0%, transparent 59%, rgba(0, 0, 0, 0.65) 100%), url("/assets/joshua-newton-scaled.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .login-page h1 {
    font-size: 8rem;
    font-weight: 400;
    backface-visibility: hidden;
    color: aliceblue;
    display: block;
    margin: 0 0 4rem 0;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s 1s ease-out;
    animation-fill-mode: backwards; }
  .login-page h2 {
    font-size: 2rem;
    color: aliceblue;
    display: block;
    margin: 0.5rem 0 4rem 0;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s 1s ease-out;
    animation-fill-mode: backwards; }
