* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-weight: 200;
  color: #3b414c;
  font-size: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.app {
  white-space: nowrap;
  height: 100%;
}
